In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
from google.colab import files
data=files.upload()

Saving Sales_add.csv to Sales_add.csv

In [13]:
data=pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

To clarify whether there is any increase in sales after stepping into digital marketing.

In [14]:
from statsmodels.stats.weightstats import ztest as ztest

In [15]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [16]:
z,p= ztest(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],value=0)

In [18]:
p

1.3046367348248653e-38

In [19]:
if p<0.05:
    print('NUll Hypothesis is rejected')
else:
    print('NUll Hypothesis is accepted')

NUll Hypothesis is rejected


To check whether there is any dependency between thefeatures “Region” and “Manager”.

In [20]:
from scipy.stats import chi2_contingency

In [21]:
data2= pd.crosstab(data['Region'],data['Manager'])

In [23]:
data2

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [24]:

c,p,dof,expected= chi2_contingency(data2)

In [25]:
p

0.5493991051158094

In [26]:
if p<0.05:
    print('NUll Hypothesis is rejected')
else:
    print('NUll Hypothesis is accepted')

NUll Hypothesis is accepted